@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.font {
    font-family: "Cormorant Garamond", serif;
}

.thankYouMsg {
    font-size: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.cursive {
    font-family: "Cormorant Garamond", serif, cursive;
}

.content{
    font-size: 50px;
}

.link{
    font-size: 30px;
}

/*For medium to large screens*/
@media only screen and (min-width: 750px) {
    .thankYouMsg{
        font-size: 50px;
    }
    .content{
        font-size: 25px;
    }
    .link{
        font-size: 25px;
    }
  }
  
