.background {
    background-color:antiquewhite;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.font {
    font-family: 'Pacifico';
}

.thankYouMsg {
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.content{
    font-size: 70px;
}
